In [ ]:
import pandas as pd

In [ ]:
heart_df = pd.read_csv('heart.csv').sort_values(by='Cholesterol', ascending=False).head(150)
heart_df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
149,54,M,ASY,130,603,1,Normal,125,Y,1.0,Flat,1
616,67,F,NAP,115,564,0,LVH,160,N,1.6,Flat,0
76,32,M,ASY,118,529,0,Normal,130,N,0.0,Flat,1
30,53,M,NAP,145,518,0,Normal,130,N,0.0,Flat,1
250,44,M,ASY,135,491,0,Normal,135,N,0.0,Flat,1
...,...,...,...,...,...,...,...,...,...,...,...,...
175,43,M,ASY,140,288,0,Normal,135,Y,2.0,Flat,1
211,50,F,NAP,140,288,0,Normal,140,Y,0.0,Flat,1
592,61,M,ASY,190,287,1,LVH,150,Y,2.0,Down,1
177,59,M,ATA,140,287,0,Normal,150,N,0.0,Up,0
884,67,M,ASY,160,286,0,LVH,108,Y,1.5,Flat,1

In [ ]:
heart_df['Sex'] = [1 if x == 'M' else 0 for x in heart_df['Sex']]
heart_df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
149,54,1,ASY,130,603,1,Normal,125,Y,1.0,Flat,1
616,67,0,NAP,115,564,0,LVH,160,N,1.6,Flat,0
76,32,1,ASY,118,529,0,Normal,130,N,0.0,Flat,1
30,53,1,NAP,145,518,0,Normal,130,N,0.0,Flat,1
250,44,1,ASY,135,491,0,Normal,135,N,0.0,Flat,1
...,...,...,...,...,...,...,...,...,...,...,...,...
175,43,1,ASY,140,288,0,Normal,135,Y,2.0,Flat,1
211,50,0,NAP,140,288,0,Normal,140,Y,0.0,Flat,1
592,61,1,ASY,190,287,1,LVH,150,Y,2.0,Down,1
177,59,1,ATA,140,287,0,Normal,150,N,0.0,Up,0
884,67,1,ASY,160,286,0,LVH,108,Y,1.5,Flat,1

In [19]:
heart_df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
149,54,1,ASY,130,603,1,Normal,125,Y,1.0,Flat,1
616,67,0,NAP,115,564,0,LVH,160,N,1.6,Flat,0
76,32,1,ASY,118,529,0,Normal,130,N,0.0,Flat,1
30,53,1,NAP,145,518,0,Normal,130,N,0.0,Flat,1
250,44,1,ASY,135,491,0,Normal,135,N,0.0,Flat,1
...,...,...,...,...,...,...,...,...,...,...,...,...
175,43,1,ASY,140,288,0,Normal,135,Y,2.0,Flat,1
211,50,0,NAP,140,288,0,Normal,140,Y,0.0,Flat,1
592,61,1,ASY,190,287,1,LVH,150,Y,2.0,Down,1
177,59,1,ATA,140,287,0,Normal,150,N,0.0,Up,0
884,67,1,ASY,160,286,0,LVH,108,Y,1.5,Flat,1

In [ ]:
new_heart_df = heart_df[['Age','Sex','ChestPainType','FastingBS','RestingECG','ExerciseAngina','ST_Slope','HeartDisease']]
new_heart_df

,Age,Sex,ChestPainType,FastingBS,RestingECG,ExerciseAngina,ST_Slope,HeartDisease
149,54,1,ASY,1,Normal,Y,Flat,1
616,67,0,NAP,0,LVH,N,Flat,0
76,32,1,ASY,0,Normal,N,Flat,1
30,53,1,NAP,0,Normal,N,Flat,1
250,44,1,ASY,0,Normal,N,Flat,1
...,...,...,...,...,...,...,...,...
175,43,1,ASY,0,Normal,Y,Flat,1
211,50,0,NAP,0,Normal,Y,Flat,1
592,61,1,ASY,1,LVH,Y,Down,1
177,59,1,ATA,0,Normal,N,Up,0
884,67,1,ASY,0,LVH,Y,Flat,1

In [21]:
new_heart_df.to_csv('HulomJosuanLeonardo.csv', index=False)